.hero {
  -webkit-font-smoothing: antialiased;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 10px;

  #pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 220px;
    align-self: center;
    margin-top: 77px;
    .inner-shadow {
      z-index: 2;
      width: 158.07px;
      height: 158.07px;
      border-radius: 50%;

      img {
        width: 158.07px;
        height: 158.07px;
        border-radius: 50%;
        object-fit: cover;
        z-index: -1;
      }

      &::after {
        display: block;
        position: relative;

        -moz-box-shadow: inset 0px -23px 6px rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: inset 0px -23px 6px rgba(255, 255, 255, 0.9);
        box-shadow: inset 0px -23px 6px rgba(255, 255, 255, 0.9);
        margin-top: -150px;
        width: 158.07px;
        height: 158.07px;
        border-radius: 50%;
        content: "";
      }
    }

    svg {
      width: 230px;
      height: 230px;
      position: absolute;
      overflow: visible;
      z-index: 1;
    }
  }

  &__about {
    font-family: Poppins;
    font-style: normal;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      font-weight: bold;
      font-size: 16px;
      color: #fff;
      width: 148px;
      line-height: 35px;
      background: #fdb719;
      border-radius: 16px 16px 16px 0px;
      //padding: 5px 15px;
    }

    h1 {
      font-weight: 600;
      font-size: 41px;
      color: #474747;
      margin-top: 17px;
    }

    #bio {
      color: #474747;
      font-family: DM Mono;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
    }

    button {
      font-weight: 600;
      font-size: 18px;
      color: #fdb719;
      width: 125px;
      height: 37px;
      border: 1px solid #fdb719;
      box-sizing: border-box;
      border-radius: 16px 0px 16px 16px;
      background-color: #fff;
      margin-top: 30px;
      outline: none;
      transition: 0.5s;
  
      &:hover {
        color: #fff;
        background-color: #fdb719;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    justify-content: space-between !important;
    position: relative;
    margin-top: 84px !important;
    padding-top: 150px;
    margin-bottom: 5px;
    //min-height: 650px !important;
    //height: 100vh;
    &__about {
      align-items: flex-start;
      height: 260px;
      justify-content: center;

      h1 {
        margin-top: 10px;
        font-size: 48px;
      }

      button,a {
        align-self: flex-end;
        margin-top: 11px;
      }
    }

    #pic {
      align-self: unset;
      margin-top: 30px;
      margin-right: 27px;
      svg {
        width: 270px;
        height: 270px;
        &:first-child {
          path {
            stroke-width: 40px !important;
            //stroke-opacity: 0 !important;
          }
        }
      }
    }
  }

  @media (min-width: 890px) {
    h1 {
      margin-top: 10px;
      font-size: 60px;
    }
  }
}
