.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* transition: color 0.5s ease; */
}

.btn {
  font-family: "Jost";
  font-size: 14px;
  font-weight: 700;
  color: var(--primary);
  box-sizing: border-box;
  outline: none;
  padding: 0 40px;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 56px;
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  border: 2px solid var(--primary);
  background: transparent;
  box-shadow: 0p 5px var(--btn-drop-shadow);
  border-radius: 56px;
  display: flex;
  align-items: center;

  svg,
  img {
    font-size: 22px;
    margin-right: 5px;
    width: 16px;
  }

  &:hover {
    background-color: var(--accent);
    color: #fff;
  }
}

.red {
  color: red
}

.blue {
  color: blue
}

.orange {
  color: orange
}

.yt svg path {
  color: red;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .card {
    width: 100%;
    width: calc(100% - 20px);
    margin: 0 auto;
    max-width: 500px;
    box-sizing: border-box;
    color: var(--primmary);
    background: var(--card-background);
    border-radius: 27px;
    padding: 40px 10px;
    margin: 10px;
    // border: 1px solid var(--card-border-color);
    // box-shadow: var(--card-box-shadow);
  }
}

@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
    align-items: stretch;
    width: calc(100% - 20px);
    margin: 0 auto;

    .card {
      min-width: 290px;
      max-width: 380px;
      width: 100%;
      margin: 20px;
      flex: 1;
    }
  }
}