:root{
  --color:#000;
  --body-background:#fff;
  --heading-color:#474747;
  --card-background:#fff;
  --card-box-shadow: 0px 6px 15px 8px rgba(0, 0, 0, 0.04);
  --card-header-box-shadow: 0px 8px 15px 0px #d0d0d057;
  --card-header-border:none;
  --card-btn-box-shadow: 0px 2px 4px rgb(162 162 162 / 35%);
  --card-color:#000;
  --card-border-color:#e5e5e5;
  --logo-filter:grayscale(0%);
}

[data-theme="dark"]{
  --color:#bfbfbf;
  --body-background:#121212;
  --heading-color:#ffffffba;
  --card-background: transparent;
  --card-box-shadow:0px 6px 15px 8px rgb(0 0 0 / 31%);
  --card-header-box-shadow: 0px 8px 15px 0px rgb(0 0 0 / 58%);
  --card-header-border:1px solid #2f2d2d82;
  --card-btn-box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
  --card-color:#bfbfbf;
  --card-border-color:#3c3c3c;
  --logo-filter:invert(100%);
}

*{
  margin:0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  color: var(--color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700');